p {
    margin: 0;
}
.Additions {
    background-color: #13131f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px
}


.Additions-card-box {
    text-align: center;
    align-items: center;
    border : 1px solid rgb(34, 38, 42); ;
    padding: 10px 30px; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 0px 20px;
    height : 320px;
    max-width: 200px;

}

.Additions-link {
    text-decoration : none;
    color : inherit;
}

.Additions-link:hover {
    text-decoration : none;
    color : inherit;
}

.Additions-card-box:hover {
    background: #2c2236;
}

.Additions-card-top {
    margin-top : 45px;
    border :  1px solid ;
    padding : 35px;
    border-radius : 50%;
    width: 120px
}

.Additions-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Additions-card-bottom i {
    margin-right: 10px;
}

