.filterBy {
    margin-top: 3.5rem;
    width: 100%;
    min-height: 100vh;
    background: #13131F;
}

.filterBy-search {
    padding : 4rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}


.filterBy-search input {
    min-width: 400px;
    min-height: 37px;
}

.table-shown {
    padding : 50px;
}