/** ________________Additions__________--*/
@media screen and (max-width : 500px) {
    .Additions {
        padding: 10px 10px;
        display: grid;
        grid-template-areas:  '1 2';
        grid-gap: 10px
    }
    .Form-title {
        margin-top: 70px;
    }
    
    .Form {
        padding: 40px;
    }

    .Additions-card-box {
        margin-top: 500px;
        padding : 10px 15px;
        margin : 0px 0px;
    }

    .Additions-link {
        margin-top: 80px;
    }
    .left {
        margin : 0;
    }
    .Search-input{
        min-width: 200px;
    }
    .Nav-search-box {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media screen and (min-width : 500px ) and (max-width : 900px) {
    .Additions-link {
        margin-top: 90px;
    }
    .Form-title {
        margin-top: 70px;
    }
    .left {
        margin : 0;
    }
    .Nav-search-box {
        margin: auto;
        margin-bottom: 20px;
    }
    
}
