/** ________________Additions__________--*/
@media screen and (max-width : 500px) {
    .Additions {
        padding: 10px 10px;
        display: grid;
        grid-template-areas:  '1 2';
        grid-gap: 10px
    }
    .Form-title {
        margin-top: 70px;
    }
    
    .Form {
        padding: 40px;
    }

    .Additions-card-box {
        margin-top: 500px;
        padding : 10px 15px;
        margin : 0px 0px;
    }

    .Additions-link {
        margin-top: 80px;
    }
    .left {
        margin : 0;
    }
    .Search-input{
        min-width: 200px;
    }
    .Nav-search-box {
        margin: auto;
        margin-bottom: 20px;
    }
    .students-move {
        margin-top: 5rem;
        border: 1px solid #434244;
        min-height: 250px;
        display: grid;
        text-align: center;
    
    }
    
    .student-submit {
        margin-bottom : 20px;
    }
    .form-field-nav {
        margin : 20px;
    }
    
    .students-move-left {
        border-bottom: 1px solid #434244 ;
    }
    
    
}

@media screen and (min-width : 500px ) and (max-width : 900px) {
    .Additions-link {
        margin-top: 90px;
    }
    .Form-title {
        margin-top: 70px;
    }
    .left {
        margin : 0;
    }
    .Nav-search-box {
        margin: auto;
        margin-bottom: 20px;
    }
    .students-move {
    margin-top: 5rem;
    border: 1px solid #434244;
    min-height: 250px;
    display: grid;
    text-align: center;

}

.student-submit {
    margin-bottom : 20px;
}
.form-field-nav {
    margin : 20px;
}

.students-move-left {
    border-bottom: 1px solid #434244 ;
}
}

@media screen and (min-width : 900px) {
    .students-move {
        margin-top: 5rem;
        border: 1px solid #434244;
        min-height: 250px;
        display: flex;
        text-align: center;
        grid-template-areas: 'one two';
    }
    
    .students-move-left {
        width : 50%;
        
    }
    .students-move-right {
        width : 50%;
    }
    .student-submit {
        margin-bottom : 20px;
    }
    .form-field-nav {
        margin : 20px;
    }
    
    .students-move-left {
        border-bottom: 1px solid #434244 ;
    }
    
    
}
