.Form {
    border : 1.4px solid rgb(34, 38, 42);
    display: inline-block;
    text-align: center;
    padding: 50px;
    font-size: 18px;
    background-color: #141423;
    color : rgb(241, 216, 133);
    font-family: 'Tajawal', sans-serif;

}

.Form-field {
    display: grid;
}

.Form-input {
    width : 250px;

}

.Form-input::placeholder {
    padding-right: 10px;
    text-align: right;
}

.Form-label {
    margin-left:10px;

}

.Form-submit {
    padding: 5px 30px;
    border-radius: 5px;
    margin-top:10px;
    transition: all 0.6s ease-in-out;
    background: #2f253b;
    border: 1px solid #3d304e;
    color: rgb(241, 216, 133);
}

.Form-submit:hover {
    background:  #231c2c;
}

.Form-error {
    border : 1px solid red;
    margin-top:5px;
    color : #ec1010;
    font-style: italic;
}


